@import 'variables';
.btn-e2n-primary {
    color: #fff;
    background-color: @darkBlue;
    border-color: @darkBlue;
}

.e2n-nav-item {
    color: @lightBlack;
    min-width: 160px;
    padding: 8px 16px;
    fa-icon {
        margin-right: 8px;
    }
    &:hover {
        background: @darkBlue;
        color: @lightGray;
        text-decoration: none;
    }
}