{"@version":"1","@timestamp":"2018-11-09T12:32:54.000Z","netflow":{"src_tos":0,"first_switched":"2018-11-09T12:32:05.999Z","in_bytes":73,"dst_as":0,"dst_mask":0,"ipv4_dst_addr":"224.0.0.251","output_snmp":0,"l4_src_port":5353,"flow_seq_num":28,"l4_dst_port":5353,"sampling_algorithm":0,"tcp_flags":0,"ipv4_src_addr":"172.22.0.1","version":5,"input_snmp":0,"in_pkts":1,"protocol":17,"engine_id":1,"engine_type":0,"ipv4_next_hop":"0.0.0.0","flow_records":17,"src_as":0,"src_mask":0,"sampling_interval":0,"last_switched":"2018-11-09T12:32:05.999Z"},"host":"172.21.0.1"}
{"@version":"1","@timestamp":"2018-11-09T12:33:45.000Z","netflow":{"src_tos":0,"first_switched":"2018-11-09T12:33:05.999Z","in_bytes":73,"dst_as":0,"dst_mask":0,"ipv4_dst_addr":"172.22.0.1","output_snmp":0,"l4_src_port":5353,"flow_seq_num":102,"l4_dst_port":5353,"sampling_algorithm":0,"tcp_flags":0,"ipv4_src_addr":"224.0.0.251","version":5,"input_snmp":0,"in_pkts":1,"protocol":17,"engine_id":1,"engine_type":0,"ipv4_next_hop":"0.0.0.0","flow_records":30,"src_as":0,"src_mask":0,"sampling_interval":0,"last_switched":"2018-11-09T12:33:14.999Z"},"host":"172.21.0.1"}
{"@version":"1","@timestamp":"2018-11-09T12:35:15.000Z","netflow":{"src_tos":0,"first_switched":"2018-11-09T12:32:05.999Z","in_bytes":73,"dst_as":0,"dst_mask":0,"ipv4_dst_addr":"222.0.0.233","output_snmp":0,"l4_src_port":5353,"flow_seq_num":28,"l4_dst_port":5353,"sampling_algorithm":0,"tcp_flags":0,"ipv4_src_addr":"172.22.0.1","version":5,"input_snmp":0,"in_pkts":1,"protocol":17,"engine_id":1,"engine_type":0,"ipv4_next_hop":"0.0.0.0","flow_records":17,"src_as":0,"src_mask":0,"sampling_interval":0,"last_switched":"2018-11-09T12:35:15.999Z"},"host":"172.21.0.1"}
{"@version":"1","@timestamp":"2018-11-09T12:35:45.000Z","netflow":{"src_tos":0,"first_switched":"2018-11-09T12:33:05.999Z","in_bytes":73,"dst_as":0,"dst_mask":0,"ipv4_dst_addr":"172.22.0.1","output_snmp":0,"l4_src_port":5353,"flow_seq_num":102,"l4_dst_port":5353,"sampling_algorithm":0,"tcp_flags":0,"ipv4_src_addr":"222.0.0.233","version":5,"input_snmp":0,"in_pkts":1,"protocol":17,"engine_id":1,"engine_type":0,"ipv4_next_hop":"0.0.0.0","flow_records":30,"src_as":0,"src_mask":0,"sampling_interval":0,"last_switched":"2018-11-09T12:35:44.999Z"},"host":"172.21.0.1"}
{"@version":"1","@timestamp":"2018-11-09T12:35:53.000Z","netflow":{"src_tos":0,"first_switched":"2018-11-09T12:32:05.999Z","in_bytes":73,"dst_as":0,"dst_mask":0,"ipv4_dst_addr":"222.0.0.233","output_snmp":0,"l4_src_port":5353,"flow_seq_num":28,"l4_dst_port":5353,"sampling_algorithm":0,"tcp_flags":0,"ipv4_src_addr":"172.22.0.1","version":5,"input_snmp":0,"in_pkts":1,"protocol":17,"engine_id":1,"engine_type":0,"ipv4_next_hop":"0.0.0.0","flow_records":17,"src_as":0,"src_mask":0,"sampling_interval":0,"last_switched":"2018-11-09T12:35:54.999Z"},"host":"172.21.0.1"}
{"@version":"1","@timestamp":"2018-11-09T12:36:55.000Z","netflow":{"src_tos":0,"first_switched":"2018-11-09T12:33:05.999Z","in_bytes":73,"dst_as":0,"dst_mask":0,"ipv4_dst_addr":"172.22.0.1","output_snmp":0,"l4_src_port":5353,"flow_seq_num":102,"l4_dst_port":5353,"sampling_algorithm":0,"tcp_flags":0,"ipv4_src_addr":"224.0.0.251","version":5,"input_snmp":0,"in_pkts":1,"protocol":17,"engine_id":1,"engine_type":0,"ipv4_next_hop":"0.0.0.0","flow_records":30,"src_as":0,"src_mask":0,"sampling_interval":0,"last_switched":"2018-11-09T12:36:55.999Z"},"host":"172.21.0.1"}
{"@version":"1","@timestamp":"2018-11-09T12:37:46.000Z","netflow":{"src_tos":0,"first_switched":"2018-11-09T12:32:05.999Z","in_bytes":73,"dst_as":0,"dst_mask":0,"ipv4_dst_addr":"222.0.0.251","output_snmp":0,"l4_src_port":5353,"flow_seq_num":28,"l4_dst_port":5353,"sampling_algorithm":0,"tcp_flags":0,"ipv4_src_addr":"172.22.0.1","version":5,"input_snmp":0,"in_pkts":1,"protocol":17,"engine_id":1,"engine_type":0,"ipv4_next_hop":"0.0.0.0","flow_records":17,"src_as":0,"src_mask":0,"sampling_interval":0,"last_switched":"2018-11-09T12:37:47.999Z"},"host":"172.21.0.1"}
{"@version":"1","@timestamp":"2018-11-09T12:38:00.000Z","netflow":{"src_tos":0,"first_switched":"2018-11-09T12:33:05.999Z","in_bytes":73,"dst_as":0,"dst_mask":0,"ipv4_dst_addr":"172.22.0.1","output_snmp":0,"l4_src_port":5353,"flow_seq_num":102,"l4_dst_port":5353,"sampling_algorithm":0,"tcp_flags":0,"ipv4_src_addr":"111.0.0.251","version":5,"input_snmp":0,"in_pkts":1,"protocol":17,"engine_id":1,"engine_type":0,"ipv4_next_hop":"0.0.0.0","flow_records":30,"src_as":0,"src_mask":0,"sampling_interval":0,"last_switched":"2018-11-09T12:38:14.999Z"},"host":"172.21.0.1"}
