<div class="profile-holder" [popover]="popTemplate" placement="bottom" [outsideClick]="true" #pop="bs-popover">
  <img [src]="profile?.avatarUrl" class="thumbnail rounded-circle avatar" alt="avatar" height="40px" *ngIf="profile?.avatarUrl">
  <div class="username">
    {{profile?.firstName}} {{profile?.lastName}}
  </div>
</div>

<ng-template #popTemplate>
  <a class="e2n-nav-item" routerLink="/user-profile" (click)="pop.hide()">
    <fa-icon icon="user-alt"></fa-icon> Profile</a>
  <a class="e2n-nav-item" routerLink="/login" (click)="logout()"><fa-icon icon="sign-out-alt"></fa-icon> Logout</a>
</ng-template>
